footer.footer
  .container
    .footer-block
      img.logo-footer(src="img/logo.svg", alt="logo")
      .navigation
        a.navigation-link(href="#") Ресторанам
        a.navigation-link(href="#") Курьерам
        a.navigation-link(href="#") Пресс-центр
        a.navigation-link(href="#") Контакты
      .social
        a.social-link(href="#")
          img(src="img/inst.svg", alt="Instagram")
        a.social-link(href="#")
          img(src="img/fb.svg", alt="Facebook")
        a.social-link(href="#")
          img(src="img/vk.svg", alt="Vk")