header.header
  img.logo(src="img/logo.svg", alt="logo")
  input.input.search-input(type="text", placeholder="Адрес доставки")
  .buttons
    button.button.button-primary
      img.button-icon(src="img/user.svg", alt="user")
      span.button-text Войти
    button.button.button-secondary
      img.button-icon(src="img/shopping-cart.svg", alt="shoping-cart")
      span.button-text Корзина